@import "../../sass/variables";

.custom-button {
	background-color: transparent;
	outline: none;
	border: 1px solid $color-blue;
	font-size: inherit;
	font-family: $font-stack-secondary;
	color: $color-grey-lighter;
	padding: 0.3rem 1.75rem;
	border-radius: 5px;
	text-transform: lowercase;
	cursor: pointer;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	&-smallest {
		display: inline-block;
		padding: 0.1rem 0.7rem;
	}

	&:hover {
		background-color: $color-blue;
		color: white;
	}

	&:active {
		background-color: darken($color-blue, 5%);
		color: $color-grey-lighter;
	}

	&.reset {
		border: 1px solid $color-google-red;

		&:hover {
			background-color: $color-google-red;
			color: white;
		}

		&:active {
			background-color: darken($color-google-red, 5%);
			color: $color-grey-lighter;
		}
	}
}
