@import "./variables.scss";

.wrapper {
	max-width: 1400px;
	margin: auto;
	padding: 0 3rem;
}

.dot-dot-dot {
	white-space: no-wrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.score-reset-info {
	font-size: 1.5rem;
	text-align: center;
	color: $color-text-muted;
	font-family: $font-stack-secondary;
}
