$color-blue: #4285f4;
$color-grey-dark: #181818;
$color-grey-light: #212121;
$color-grey-lighter: lightgrey;
$color-text-muted: #aaaaaa;
$color-google-red: #ea4335;

$font-stack-primary: "Poppins", sans-serif;
$font-stack-secondary: "Open Sans", sans-serif;
