@import "../../sass/variables";

.highscores {
	padding: 0.5rem 0 0 0;
	text-align: center;
	color: $color-grey-lighter;
	font-family: $font-stack-secondary;

	.title {
		font-size: 3rem;
		color: $color-blue;
		text-transform: capitalize;
		margin-bottom: 2.5rem;
	}

	.highscore {
		font-size: 1.85rem;
		color: $color-text-muted;
		width: 23rem;
		margin: 0 auto 1rem auto;
		border: 1px solid $color-blue;
		border-radius: 5px;
		padding: 0.4rem 0.7rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		span {
			color: $color-grey-lighter;

			&:not(:last-child) {
				color: $color-text-muted;
			}
		}

		&:last-of-type {
			margin-bottom: 2rem;
		}
	}

	.alternate {
		font-size: 1.8rem;
		margin-bottom: 3.5rem;
	}

	.custom-button {
		width: fit-content;
		margin: 0 auto 3rem auto;
	}
}
