@import "../../sass/variables";

.game {
	color: $color-text-muted;
	font-size: 2rem;
	text-transform: capitalize;
	margin-top: 1.5rem;
	text-align: center;

	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}

	.highscore-container {
		font-size: 1.75rem;
		color: $color-text-muted;
		margin-bottom: 0.8rem;

		span {
			color: $color-blue;
		}
	}

	.online-players {
		margin-bottom: 2.5rem;
		color: $color-text-muted;

		span {
			color: $color-blue;
			margin-right: 0.75rem;
		}

		a {
			font-size: 1.35rem;
		}
	}

	.timer {
		font-size: 2rem;
		margin-bottom: 1.7rem;

		.countdown {
			color: $color-blue;
		}
	}

	.current-score-container {
		.current-score {
			color: $color-blue;
		}
	}

	.touch {
		height: 7rem;
		width: 7rem;
		background-color: $color-blue;
		border-radius: 50%;
		border: 3px solid $color-grey-lighter;
		box-shadow: 0.5rem 0.5rem 3rem 0 rgba(0, 0, 0, 0.8),
			-0.5rem -0.5rem 3rem 0 rgba(0, 0, 0, 0.8);
		cursor: pointer;
		outline: none;
		-webkit-tap-highlight-color: transparent;
		margin-top: -5rem;

		&:active {
			box-shadow: 0.3rem 0.3rem 2rem 0 rgba(0, 0, 0, 1),
				0.3rem 0.3rem 2rem 0 rgba(0, 0, 0, 1);
			transform: scale(0.98);
		}
	}

	.total-score-container {
		span {
			color: $color-blue;
			margin-left: 1rem;
		}
	}

	.game-over-high-score-container {
		span {
			color: $color-blue;
			margin-left: 1rem;
		}
	}

	.buttons {
		.buttons-upper {
			display: flex;

			& > *:nth-child(2) {
				margin-left: 0.75rem;
			}
		}
	}

	.custom-button {
		width: auto;
		font-size: 1.7rem;
		color: $color-grey-lighter;
		white-space: nowrap;
		flex: 1 1 auto;
		margin-bottom: 0.7rem;
	}

	.text-big {
		font-size: 4rem;
		display: block;
		text-align: center;
	}

	.text-medium {
		font-size: 2.5rem;
	}

	.lighter {
		color: $color-grey-lighter;
	}

	.text-blue {
		color: $color-blue;
	}

	.margin-small {
		margin-bottom: 3rem;
	}

	.margin-big {
		margin-bottom: 4rem;
	}

	.margin-smaller {
		margin-bottom: 1rem;
	}
}
